/* Variables */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
 :root{
   --white: #F2F2F2;
   --blue: #082B59;
   --brown: #59331D;
      }

/* Boarder box */
* {
    box-sizing: border-box;
   }

/* Default font idenifier */
* {
    font-family: "lato-regular";
  }

/* Google fonts used per brand guides */
.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans {
  font-family: "OpenSans", serif;
  font-style: normal;
}

/* Logo align */
.logo {
  display: flex;
  justify-content: center;
}

/* Two-up display */
.two-up {
   margin-top: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
}

/* Copy block display */
.main-paragraph {
  position: relative;
  text-align: left;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

/* body link*/
.body-link {
  color: #D98555;
}

/* Image position */
.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
 
/* Image caption */  
  .centered-caption {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
  }
  
  .centered-caption p {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    color: white;
  }

/* Contact us button */
.button-pill {
 background-color: #D98555;
 border: none;
 color: #F2F2F2;
 padding: 10px 20px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 margin: 4px 2px;
 cursor: pointer;
 border-radius: 16px;
}

/* Color codes footer links */
footer a:link {color: #F2F2F2;}
footer a:visited {color: #D98555;}
footer a:hover {color: #DBA463;}
footer a:active {color: #F2F2F2;} 

/* Product cards */
.product-card {
  width: 400px;
  border: 1px solid #989898; /* Grey border */
  background-color: rgb(232, 228, 228);
  padding: 20px; /* Padding all around */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  border-radius: 16px;
  margin: 1%;
}

.product-info {
  padding-left: 15px;
  padding-right: 15px;
}

.product-wall {
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Footer display */
.foot-container {
  margin-top: 20px;
  position: relative;
  text-align: center;
  font-size: 8pt;
  color: white;
  background-color: #59331D;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Default styles */
body {
    background-color: white; /* Fallback color */
  }
  
/* Small screens (phones) */
  @media only screen and (max-width: 599px) {
    .image-container {
      width: 450px;
    }
    .two-up {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .product-wall {
      align-items: center;
      flex-direction: column;
    }

  /* Hamburger */
    .ham{
      background-color: var(--blue);
      box-shadow: 1px 1px 5px 0px var(--brown);
      border-bottom: 3px solid #D98555;
      position: sticky;
      top: 0;
      width: 100%;
      }
  
  .hamnav{
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: var(--brown);
      overflow: hidden;
  }
  
  .menu a{
      display: block;
      padding: 30px;
      color: var(--white);
  }
  
  .menu a:hover {color: var(--brown); background-color: var(--white);}

  .hamnav{
      max-height: 0;
      transition: max-height .5s ease-out;
  }
  
  /* Menu Icon */
  .hamb{
      cursor: pointer;
      float: right;
      padding: 40px 20px;
  }
  
  /* Style label tag */
  .hamb-line {
      background: var(--white);
      display: block;
      height: 2px;
      position: relative;
      width: 24px;
  }
  
  /* Style span tag */
  
  .hamb-line::after{
      background: var(--white);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
  }
  
  .hamb-line::before{
      top: 5px;
  }
  
  .hamb-line::after{
      top: -5px;
  }
  
  .side-menu {
      display: none;
  }

  /* Toggle menu icon */
  .side-menu:checked ~ nav{
      max-height: 100%;
  }
  
  .side-menu:checked ~ .hamb .hamb-line {
      background: transparent;
  }
  
  .side-menu:checked ~ .hamb .hamb-line::before {
      transform: rotate(-45deg);
      top:0;
  }
  
  .side-menu:checked ~ .hamb .hamb-line::after {
      transform: rotate(45deg);
      top:0;
  }
  
  .side-menu:checked) {
    overflow: hidden;
  }

  }
  
/* Medium screens (tablets, small desktops) */
  @media only screen and (min-width: 600px) and (max-width: 1023px) {

  /* Color codes nav links */
  nav a:link {color: #F2F2F2;}
  nav a:visited {color: #D98555;}
  nav a:hover {color: #DBA463;}
  nav a:active {color: #F2F2F2;}

  /* Color codes nav Active links */
  nav a.active {
    color: #F2F2F2;
  }

  /* Nav boarder */
  nav {
      border-top: 3px solid #D98555;
      border-bottom: 3px solid #D98555;
      padding: 5px;
      background-color: #082B59;
  }

  /* Nav align */
  .nav-container {
    display: flex;
    justify-content: center;
  }

  /* Nav display */
  .nav-box {
    display: inline-block;
    position: relative;
    text-align: left;
    padding: 3%;
    font-size: 16pt;
    font-family: "lato-regular", "OpenSans";
  }

  /* Image Container */
      .image-container {
        width: 300px;
      }

  /* Two up */
      .two-up {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
      .product-wall {
        
      }
    }
  
/* Large screens (desktops, wide displays) */
  @media only screen and (min-width: 1024px) {

  /* Color codes nav links */
  nav a:link {color: #F2F2F2;}
  nav a:visited {color: #D98555;}
  nav a:hover {color: #DBA463;}
  nav a:active {color: #F2F2F2;}

  /* Color codes nav Active links */
  nav a.active {
    color: #F2F2F2;
  }

  /* Nav boarder */
  nav {
      border-top: 3px solid #D98555;
      border-bottom: 3px solid #D98555;
      padding: 5px;
      background-color: #082B59;
  }

  /* Nav align */
  .nav-container {
    display: flex;
    justify-content: center;
  }

  /* Nav display */
  .nav-box {
    display: inline-block;
    position: relative;
    text-align: left;
    padding: 3%;
    font-size: 16pt;
    font-family: "lato-regular", "OpenSans";
  }   

  /* Two up */
      .two-up  {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
      .product-wall  {
      
      }
    }

    